/* button {
    border: none;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    color: rgba(33, 38, 40, 0.954);
    font-size: 20px;
    background-color: rgba(210, 135, 242, 0.215);
    border-radius: 15px;
} */

/* button:hover {
    background-color: rgba(209, 186, 38, 0.813);
    color: rgb(245, 245, 245);
} */

button {
    font-size: 18px;
    margin: 15px;
    color: #040303;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: colorChange 5s linear infinite, scaleChange 2s ease-in-out infinite; /* Přidáme animaci změny měřítka */
    
  }
  
  /* Keyframes pro animaci změny barvy */
  @keyframes colorChange {
    0% {
      background-color: #dbdb34e5;
    }
    50% {
      background-color: #e4e73cd0;
    }
    100% {
      background-color: #d7c628d4;
    }
  }
  
  /* Keyframes pro animaci změny měřítka */
  @keyframes scaleChange {
    0% {
      transform: scale(1); /* Počáteční měřítko */
    }
    25% {
        transform: scale(1.01); /* Zvětšení měřítka */
      }
    50% {
      transform: scale(1.02); /* Zvětšení měřítka */
    }
    75% {
        transform: scale(1.04); /* Zvětšení měřítka */
      }
    100% {
      transform: scale(1); /* Návrat na počáteční měřítko */
    }
  }
  
  /* Styl pro tlačítko při najetí myši */
  button:hover {
    animation: none;
    color: aliceblue;
    background-color: #f39c12;
    transform: scale(1.1); /* Zvětšení měřítka při najetí myši */
  }
  
  /* Styl pro tlačítko při stisku */
 button:active {
    background-color: #c63019;
    transform: scale(0.8); /* Zmenšení měřítka při stisku */
  }

.Button-day-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: rgba(194, 182, 18, 0.393);
    padding: 50px;
    border: none;
    border-radius: 15px;
    width: 825px;
    background-image: url(https://mediamanager.sportnet.online/images/992x558xmedia/pages/s/sportnet.sme.sk/2020/12/6405389.png);
    
    
}

.Button-day-container button {
    color: rgb(9, 8, 8);
}

p {
    font-size: 25px;
}

h1 {
    text-align: center;
    font-family: 'Arial', sans-serif; /* Zvolte vhodný font, který je k dispozici na většině zařízení */
    font-size: 36px; /* Velikost písma */
    font-weight: bold; /* Tučné písmo */
    text-transform: uppercase; /* Text ve velkých písmenech */
    letter-spacing: 2px; /* Mezery mezi písmeny */
    color: #ff9100; /* Barva textu, můžete upravit na vhodnou oranžovou */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

}

.h1 {
    font-family: 'Arial', sans-serif; /* Zvolte vhodný font, který je k dispozici na většině zařízení */
    font-size: 25px; /* Velikost písma */
    font-weight: bold; /* Tučné písmo */
    text-transform: uppercase; /* Text ve velkých písmenech */
    letter-spacing: 2px; /* Mezery mezi písmeny */
    color: #ff9100; /* Barva textu, můžete upravit na vhodnou oranžovou */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}