body {
    margin: 0;
    padding: 0;
    background-color: rgba(248, 232, 55, 0.264);
    background-image: url('/public/images/Obrázek3.png');
    background-repeat: no-repeat;
    background-size: cover;
    
  }
.head-ppc img{
    width: 450px;
}

h2 {
    font-family: 'Arial', sans-serif; /* Zvolte vhodný font, který je k dispozici na většině zařízení */
    font-size: 18px; /* Velikost písma */
    font-weight: bold; /* Tučné písmo */
    text-transform: uppercase; /* Text ve velkých písmenech */
    letter-spacing: 2px; /* Mezery mezi písmeny */
    color: #ff9100; /* Barva textu, můžete upravit na vhodnou oranžovou */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

}

.head-ppc {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 20px;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.main-h1 {
    color: rgba(37, 37, 7, 0.723);
    font-family: 'Arial', sans-serif; /* Zvolte vhodný font, který je k dispozici na většině zařízení */
    font-size: 36px; /* Velikost písma */
    font-weight: bold; /* Tučné písmo */
    text-transform: uppercase; /* Text ve velkých písmenech */
    letter-spacing: 2px; /* Mezery mezi písmeny */
    color: #ff9100; /* Barva textu, můžete upravit na vhodnou oranžovou */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

.chose-country {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}